# Additional Data Wrangling (2)

## Table of Contents

#### 1. Importing Libraries
#### 2. Importing Data
#### 3. Data Wrangling
#### 4. Exporting Data

# 01. Importing Libraries

In [5]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import re

# 02. Importing Data

In [7]:
# Create path
path = r'C:\Users\16307\Desktop\Tasks - DA Immersion\Gun Violence Analysis'

In [8]:
# Import cleaned gun violence data set as dataframe
df = pd.read_csv(os.path.join(path, '02 Data', 'gun_violence_cleaned2.csv'))

# 03. Data Wrangling

In [10]:
# Create victim_count and suspect_count columns

# Clean up formatting: replace single | with double || and ensure only one double colon (::) is used for participant roles
def clean_formatting(text):
    if pd.isna(text):  # Handle NaN or None values
        return ''
    # Replace single pipes with double pipes
    cleaned_text = re.sub(r'\|+', '||', text)  # Replace single or multiple pipes with double pipes
    # Ensure only one double colon (::) between index and participant type
    cleaned_text = re.sub(r'(\d):+', r'\1::', cleaned_text)
    return cleaned_text

# Apply formatting cleaning directly to the 'participant_type' column
df['participant_type'] = df['participant_type'].apply(clean_formatting)

# Splitting the 'participant_type' column by '||' into a list of participants
df_split = df['participant_type'].str.split(r'\|\|')

# Check the structure of the split data
print("Split Data:")
print(df_split)

# Function to count the occurrences of Victims and Suspects
def count_participants(participant_list, role):
    if not participant_list or participant_list == ['']:  # Handle case where list is empty or contains only empty strings
        return 0
    # Count only when the exact role (Victim, Subject-Suspect) appears after the "::"
    return sum(1 for p in participant_list if f"::{role}" in p)

# Apply the function to create count columns
df['victim_count'] = df_split.apply(lambda x: count_participants(x, 'Victim'))
df['suspect_count'] = df_split.apply(lambda x: count_participants(x, 'Subject-Suspect'))

# Display the resulting DataFrame with counts
print(df[['participant_type', 'victim_count', 'suspect_count']])

Split Data:
0         [0::Victim, 1::Victim, 2::Victim, 3::Victim, 4...
1         [0::Victim, 1::Victim, 2::Victim, 3::Victim, 4...
2         [0::Subject-Suspect, 1::Subject-Suspect, 2::Vi...
3         [0::Victim, 1::Victim, 2::Victim, 3::Subject-S...
4         [0::Victim, 1::Victim, 2::Victim, 3::Subject-S...
                                ...
239672                                 [0::Subject-Suspect]
239673                      [0::Victim, 1::Subject-Suspect]
239674                                          [0::Victim]
239675                                          [0::Victim]
239676                      [0::Victim, 1::Subject-Suspect]
Name: participant_type, Length: 239677, dtype: object
                                         participant_type  victim_count  \
0       0::Victim||1::Victim||2::Victim||3::Victim||4:...             4
1       0::Victim||1::Victim||2::Victim||3::Victim||4:...             4
2       0::Subject-Suspect||1::Subject-Suspect||2::Vic...             3
3       0::Victim||1::Victim||2::Victim||3::Subject-Su...             3
4       0::Victim||1::Victim||2::Victim||3::Subject-Su...             3
...                                                   ...           ...
239672                                 0::Subject-Suspect             0
239673                      0::Victim||1::Subject-Suspect             1
239674                                          0::Victim             1
239675                                          0::Victim             1
239676                      0::Victim||1::Subject-Suspect             1

        suspect_count
0                   1
1                   1
2                   2
3                   1
4                   1
...               ...
239672              1
239673              1
239674              0
239675              0
239676              1

[239677 rows x 3 columns]

In [11]:
# Create male_count and female_count columns

# Clean up formatting: replace single | with double || and ensure only one double colon (::) is used for gender roles
def clean_formatting(text):
    if pd.isna(text):  # Handle NaN or None values
        return ''
    # Replace single pipes with double pipes
    cleaned_text = re.sub(r'\|+', '||', text)  # Replace single or multiple pipes with double pipes
    # Ensure only one double colon (::) between index and participant gender
    cleaned_text = re.sub(r'(\d):+', r'\1::', cleaned_text)
    return cleaned_text

# Apply formatting cleaning directly to the 'participant_gender' column
df['participant_gender'] = df['participant_gender'].apply(clean_formatting)

# Splitting the 'participant_gender' column by '||' into a list of participants
df_split_gender = df['participant_gender'].str.split(r'\|\|')

# Function to count the occurrences of specific genders
def count_genders(participant_list, gender):
    if not participant_list or participant_list == ['']:  # Handle case where list is empty or contains only empty strings
        return 0
    # Count only when the exact gender appears after the "::"
    return sum(1 for p in participant_list if f"::{gender}" in p)

# Apply the function to create count columns for Male and Female
df['male_count'] = df_split_gender.apply(lambda x: count_genders(x, 'Male'))
df['female_count'] = df_split_gender.apply(lambda x: count_genders(x, 'Female'))

# Display the resulting DataFrame with counts
print(df[['participant_gender', 'male_count', 'female_count']])

                                 participant_gender  male_count  female_count
0              0::Male||1::Male||3::Male||4::Female           3             1
1                                           0::Male           1             0
2       0::Male||1::Male||2::Male||3::Male||4::Male           5             0
3              0::Female||1::Male||2::Male||3::Male           3             1
4            0::Female||1::Male||2::Male||3::Female           2             2
...                                             ...         ...           ...
239672                                    0::Female           0             1
239673                             0::Male||1::Male           2             0
239674                                      0::Male           1             0
239675                                      0::Male           1             0
239676                           0::Female||1::Male           1             1

[239677 rows x 3 columns]

In [12]:
# Create child_count, teen_count, and adult_count columns

# Clean up formatting: replace single | with double || and ensure only one double colon (::) is used for age roles
def clean_formatting(text):
    if pd.isna(text):  # Handle NaN or None values
        return ''
    # Replace single pipes with double pipes
    cleaned_text = re.sub(r'\|+', '||', text)  # Replace single or multiple pipes with double pipes
    # Ensure only one double colon (::) between index and participant age group
    cleaned_text = re.sub(r'(\d):+', r'\1::', cleaned_text)
    return cleaned_text

# Apply formatting cleaning directly to the 'participant_age_group' column
df['participant_age_group'] = df['participant_age_group'].apply(clean_formatting)

# Splitting the 'participant_age_group' column by '||' into a list of participants
df_split_age_group = df['participant_age_group'].str.split(r'\|\|')

# Function to count the occurrences of specific age groups
def count_age_groups(participant_list, age_group):
    if not participant_list or participant_list == ['']:  # Handle case where list is empty or contains only empty strings
        return 0
    # Count only when the exact age group appears after the "::"
    return sum(1 for p in participant_list if f"::{age_group}" in p)

# Apply the function to create count columns for Child, Teen, and Adult
df['child_count'] = df_split_age_group.apply(lambda x: count_age_groups(x, 'Child 0-11'))
df['teen_count'] = df_split_age_group.apply(lambda x: count_age_groups(x, 'Teen 12-17'))
df['adult_count'] = df_split_age_group.apply(lambda x: count_age_groups(x, 'Adult 18+'))

# Display the resulting DataFrame with counts
print(df[['participant_age_group', 'child_count', 'teen_count', 'adult_count']])

                                    participant_age_group  child_count  \
0       0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...            0
1       0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...            0
2       0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...            0
3       0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...            0
4       0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...            0
...                                                   ...          ...
239672                                       0::Adult 18+            0
239673                         0::Adult 18+||1::Adult 18+            0
239674                                       0::Adult 18+            0
239675                                       0::Adult 18+            0
239676                         0::Adult 18+||1::Adult 18+            0

        teen_count  adult_count
0                0            5
1                0            4
2                0            5
3                0            4
4                1            3
...            ...          ...
239672           0            1
239673           0            2
239674           0            1
239675           0            1
239676           0            2

[239677 rows x 4 columns]

In [29]:
# Categorize gun by gun type and create counts for pistol, rifle, shotgun, and unknown columns

# Split the gun types by '||' and create a list of gun types
gun_type_lists = df['gun_type'].str.split(r'\|\|')

# Define gun type categories
categories = {
    'Pistol': ['10mm', '45 Auto', '9mm', '357 Mag', '38 Spl', '380 Auto', '25 Auto', '40 SW', '44 Mag', 'Pistol', '32 Auto', 'Handgun'],
    'Rifle': ['22 LR', '223 Rem [AR-15]', '7.62 [AK-47]', '30-30 Win', '300 Win', '308 Win', '30-06 Spr', 'Rifle'],
    'Shotgun': ['12 gauge', '16 gauge', '20 gauge', '28 gauge', '410 gauge', 'Shotgun'],
    'Unknown': ['Unknown', 'Other', '']  # Added 'Other' and blank values to Unknown
}

# Initialize new columns for each category with default values
for category in categories.keys():
    df[category] = 0  # Start with a count of 0

# Count occurrences of each gun type and populate the respective category columns
def count_gun_types(participant_list):
    if not isinstance(participant_list, list) or not participant_list:  # Handle empty cases
        return
    for entry in participant_list:
        if isinstance(entry, str) and '::' in entry:  # Ensure entry is a string and contains '::'
            gun_type = entry.split('::')[1]  # Get the part after '::'
            # Check which category the gun type belongs to and increment the count
            for category, guns in categories.items():
                if gun_type in guns:
                    df.at[index, category] += 1
                    break  # Stop checking after finding the category
        elif entry == '' or entry in categories['Unknown']:  # Handle blank and "Other"
            df.at[index, 'Unknown'] += 1

# Iterate through each row and count gun types
for index, gun_list in enumerate(gun_type_lists):
    count_gun_types(gun_list)

# Rename columns to desired names
df = df.rename(columns={
    'Pistol': 'pistol_count',
    'Rifle': 'rifle_count',
    'Shotgun': 'shotgun_count',
    'Unknown': 'unknown_gun_count'
})

# Display the resulting DataFrame with renamed columns
print(df[['pistol_count', 'rifle_count', 'shotgun_count', 'unknown_gun_count']])

        pistol_count  pistol_count  rifle_count  rifle_count  shotgun_count  \
0                  0             0            0            0              0
1                  0             0            0            0              0
2                  0             0            0            0              0
3                  0             0            0            0              0
4                  2             2            0            0              0
...              ...           ...          ...          ...            ...
239672             0             0            0            0              0
239673             0             0            0            0              0
239674             0             0            0            0              0
239675             0             0            0            0              0
239676             1             1            0            0              1

        shotgun_count  unknown_gun_count  unknown_gun_count
0                   0                  0                  0
1                   0                  0                  0
2                   0                  2                  2
3                   0                  0                  0
4                   0                  0                  0
...               ...                ...                ...
239672              0                  1                  1
239673              0                  1                  1
239674              0                  1                  1
239675              0                  1                  1
239676              1                  0                  0

[239677 rows x 8 columns]

# 03. Dropping Columns

In [15]:
# Drop redundant or unnecessary columns

columns_to_drop = ['participant_age', 'participant_age_group', 'participant_gender', 'participant_status', 'participant_type']

# Loop through the columns and drop them if they exist
for col in columns_to_drop:
    if col in df.columns:
        df = df.drop(columns=[col])

In [16]:
df.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,congressional_district,gun_stolen,gun_type,latitude,...,suspect_count,male_count,female_count,child_count,teen_count,adult_count,pistol_count,rifle_count,shotgun_count,unknown_gun_count
0,461105,1/1/2013,Pennsylvania,Mckeesport,0,4,14.0,NaN,NaN,40.3467,...,1,3,1,0,0,5,0,0,0,0
1,460726,1/1/2013,California,Hawthorne,1,3,43.0,NaN,NaN,33.9090,...,1,1,0,0,0,4,0,0,0,0
2,478855,1/1/2013,Ohio,Lorain,1,3,9.0,0::Unknown||1::Unknown,0::Unknown||1::Unknown,41.4455,...,2,5,0,0,0,5,0,0,0,2
3,478925,1/5/2013,Colorado,Aurora,4,0,6.0,NaN,NaN,39.6518,...,1,3,1,0,0,4,0,0,0,0
4,478959,1/7/2013,North Carolina,Greensboro,2,2,6.0,0::Unknown||1::Unknown,0::Handgun||1::Handgun,36.1140,...,1,2,2,0,1,3,2,0,0,0

# 04. Exporting Data

In [18]:
# Export dataframe as csv and pkl
df.to_csv(os.path.join(path, '02 Data', 'gun_violence_cleaned3.csv'))
df.to_pickle(os.path.join(path, '02 Data', 'gun_violence_cleaned3.pkl'))